<div class="grid-container">

    <main class="main">
            <form action="#" method="post">
                <h1>TechQuest Jobs</h1>
            
                <div class="form-container">

                        <div class="form-group">
                            <label for="job-title">Job Title</label>
                            <input type="text" id="job-title" name="job-title" placeholder="Type In Job Title" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" id="company" name="company" placeholder="Company Name">
                        </div>
                    
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" id="location" name="location" placeholder="City, State, or Zip">
                        </div>
                    
                        <div class="form-group">
                            <label for="key-words">Key Words</label>
                            <input type="text" id="key-words" name="key-words" placeholder="Type In Keywords">
                        </div>
                    
                        <button type="submit" class="button">Search</button>
                </div>
            </form>
    </main>


        <!-- ASIDE -->
     <aside>
            <ul>
                <li> <a href="#">My Jobs</a></li>
            </ul>
            
            <ul>
                <li> <a href="#">Saved Jobs</a></li>

            </ul> 

            <ul>
                <li> <a href="#">City Inform.</a></li>
            </ul>
     </aside>


        <!-- FOOTER -->
    <footer>

        <address>
            Company info
            address, phone number, email 
        </address>

        <p>&copy; 2024 TechQuest Jobs. All Rights Reserved.</p>

    </footer>

</div>
  