<!-- src/app/job-search/job-search.component.html -->
<div class="container" *ngIf="jobs.length > 0 else noJobsTemplate">
  <h2>Search Results</h2>
  <table>
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Location</th>
        <th>Salary Range</th>
        <th>Experience Level</th>
        <th>Job Description</th>
        <th>Save Job</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let job of jobs" class="job-item">
        <td>{{job.jobTitle}}</td>
        <td>{{job.companyName}}</td>
        <td>{{job.location}}</td>
        <td>{{job.salaryRange}}</td>
        <td>{{job.experienceLevel}}</td>
        <td>{{job.jobDescription}}</td>
        <td><button (click)="saveJob(job)" class="save-button">Save Job</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noJobsTemplate>
  <p>No jobs found. Try adjusting your search criteria.</p>
</ng-template>

    
